
<div class="container-fluid">
    <div class="card-head">
        <h4>Vacante Desarrollador BBVA</h4>
    </div>
    <!-- Guardar la postulacion hecha por el usurario en la base de datos -->
    <!-- Y enviar un correo al adinistrador la cedula, el salario y los conocimientos -->
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Cedula Profesional</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id" placeholder="Ingrese la Clave Unica" [(ngModel)]="vacante.id">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre_postulado" placeholder="Ingrese el Nombre del Postulante" [(ngModel)]="vacante.nombre_postulado" >
            </div>
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre de la Vacante</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre_vacante" placeholder="Que puesto deseas desempenar?" [(ngModel)]="vacante.nombre_vacante" >
            </div>    
                        
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Salario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="salario_deseado" placeholder="Ingresa el salario que deseas percibir" [(ngModel)]="vacante.salario_deseado" >
            </div>   

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Conocimientos</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="conocimientos" placeholder="Ingresa las tecnologias con las que trabajas" [(ngModel)]="vacante.conocimientos" >
            </div>    
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="guardarV()">Postularme</button>
        </form>
    
    </div>
    
</div>

